h6 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: normal;
}
.postview-all {
  margin-bottom: 600px;
}

.createnewpost {
  background-color: rgb(24, 19, 21);
  color: white;
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  border-color: transparent;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}

.createnewpost:hover {
  background-color: lightpink;
}

.username {
  margin-right: 10px;
  margin-top: 40px;
  cursor: pointer;
  text-decoration: none;
}
.username:hover {
  text-decoration: underline;
}

.addpost {
  padding: 20px;
  width: 610px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  border-color: whitesmoke;
}

.usernamepicture {
  width: 700px;
  display: flex;
  flex-direction: row;
  border: solid;
  background-color: rgb(53, 46, 100);
  border-color: rgb(53, 46, 100);
  color: white;
  font-size: 15px;
}
.postimage {
  height: 550px;
  width: 700px;
}
.caption {
  background-color: rgb(242, 245, 246);
  width: 700px;
  text-align: justify;
  font-size: 18px;
  padding: 30px;
  border: solid;
  border-color: transparent;
  margin-bottom: "10px";
}

.wholepost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.likecomment {
  display: flex;
  align-items: left;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
  height: 40px;
  margin-bottom: 12px;
  font-size: 18px;
  background-color: rgb(116, 108, 199);
  color: white;
}
.thumbsupicon {
  text-align: left;
  margin-right: 5px;
  cursor: pointer;
  color: white;
}

.isCommenting {
  width: 700px;
  display: flex;
  justify-content: "space-between";
}

.postcomment {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 12px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
}
.allcomments {
  width: 700px;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: whitesmoke;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.commentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentUserPicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.commentornameimage {
  width: 700px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  background-color: rgb(206, 200, 207);
  border-color: rgb(55, 52, 52);
  border-radius: 5px;
  margin-bottom: 5px;
}

.showmorecomments {
  background-color: rgb(81 50 136);
  color: white;
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.showmorecomments:hover {
  background-color: lightpink;
}

.trashcan {
  margin-right: 20px;
}

.trashcomment {
  font-size: large;
  text-align: end;
  color: red;
  cursor: pointer;
}

.deleteeditpost {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 150px;
  font-size: 20px;
}

.deletepost {
  font-size: large;
  color: white;
  cursor: pointer;
  font-size: 25px;
}

.editpost {
  cursor: pointer;
  margin-right: 20px;
  font-size: 25px;
}
.usertimelinepicturepost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px;
}
.timelineUserPicture {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
}
.userpicturepost {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.whatdoyousay {
  width: 90%;
  border-radius: 10px;
  font-size: 16px;
}
