* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homebody {
  background-image: url("../../assets/diffpets.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: black;
  font-family: "Roboto", sans-serif;
}

.homeheading {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .homebody {
    background-image: url("../src/assets/allpets.jpg");
    object-fit: cover;
    padding: none;
    height: 70%;
    width: 70%;
    color: black;
    font-family: "Roboto", sans-serif;
  }
}

/* @media only screen and (min-width:601px) and (max-width:768px)
{

    .homebody{
        background-image: url("../src/assets/dogs.jpg");
        background-size: cover;
        padding: none;
        height:100%;
        width:100%;
        color: black;
        font-family:  "Roboto", sans-serif;
    }

}  */
