h6 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: normal;
}

.createnewpost {
  background-color: rgb(24, 19, 21);
  color: white;
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  border-color: transparent;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}

.createnewpost:hover {
  background-color: lightpink;
}

.usernamepicture {
  width: 500px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  background-color: rgb(185, 170, 189);
  border-color: rgb(208, 212, 220);
}
.postimage {
  height: 400px;
  width: 500px;
}
.caption {
  background-color: rgb(235, 209, 239);
  width: 500px;
  text-align: justify;
  font-size: 18px;
}

.wholepost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  left: 50%;
}
.likecomment {
  display: flex;
  align-items: left;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
  height: 40px;
  margin-bottom: 12px;
  font-size: 16px;
  background-color: rgb(243, 243, 243);
}
.thumbsupicon {
  text-align: left;
}

.postcomment {
  background-color: black;
  color: rgb(250, 250, 250);
  padding: 15px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.allcomments {
  width: 500px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  background-color: rgb(220, 208, 221);
  border-color: rgb(55, 52, 52);
  border-radius: 5px;
  margin-bottom: 5px;
  align-items: center;
}
.commentornameimage {
  width: 500px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  background-color: rgb(235, 209, 239);
  border-color: rgb(55, 52, 52);
  border-radius: 5px;
  margin-bottom: 5px;
}

.showmorecomments {
  background-color: rgb(114, 19, 155);
  color: white;
  font-weight: normal;
  font-size: 12px;
  padding: 10px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}
