.modal-container {
  position: fixed;
  width: 100vw;
  height: 1000vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  margin-top: 0;
  margin-left: 0;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  width: 900px;
  height: 500px;
  z-index: 10000;
  border: solid black;
  border-radius: 10px;
  padding: 20px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  cursor: pointer;
  color: black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 10px;
  font-size: 25px;
  background-color: whitesmoke;
  border-color: transparent;
}
.caption-input {
  width: 700px;
  height: 100px;
  background-color: whitesmoke;
  border-color: transparent;
  font-size: 30px;
}
.imagebuttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px;
}
.modal-image {
  margin-bottom: 30px;
  width: 300px;
  height: 200px;
}
.submit-camera-button {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit-button {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 50px;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
